#result_item {
    background-color: #303133;
}

#img_label {
    margin: 6px;
}

#title_label {
    margin-left: 2px;
    font-size: 16px;
    font-weight: 700;
    font-family: Microsoft YaHei;
    color: #cccccc;
}

#title_label:hover {
    color: #ffffff;
}

#description_label {
    color: #cccccc;
}

