QLineEdit {
    border: 6px solid #202020;
    background-color: #303133;
    color: #eeeeee;
    border-radius: 4px;
    font-size: 20px;
    padding: 6px 6px;
    font-weight: 700;
    font-family: Microsoft YaHei;
}

#result_list_widget {
    border: transparent;
    outline: none;
    padding: 0;
    background-color: #303133;
}

#result_list_widget::item:selected {
    background-color: #525252;
    color: #ffffff;
}

#result_list_widget::item:hover {
    background-color: #157abe;
}

QScrollBar:vertical {
    max-width: 3px;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #666666;
}

QScrollBar::handle:vertical {
    background-color: #666666;
}

QScrollBar::handle:vertical:hover {
    background: #666666;
}

QScrollBar::add-line:vertical {
    background-color: #303133;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background-color: #303133;
}